.inputbox {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .box {
    width: 420px;
    height: 420px;
    border: 4px solid rgb(33, 27, 27);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .maincontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .circlediv {
    width: 420px;
    height: 650px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .circlediv > div {
    width:  90px;
    height: 90px;
    border-radius: 50%;
  }
  .box > div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
  }
  
  
  input{
      padding: 15px 30px;
      margin: 10px;
      border: 2px solid rebeccapurple;
  }
  button{
      padding: 15px 30px;
      margin: 10px;
      border: 2px solid rebeccapurple;
      color: white;
      background-color: rgb(203, 133, 28);


  }
  button::hover{
      background-color: aqua;
  }
  