.inputbox {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .box {
    width: 350px;
    height: 350px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .maincontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .circlediv {
    width: 350px;
    height: 650px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .circlediv > div {
    width:  90px;
    height: 90px;
    border-radius: 50%;
  }
  .box > div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
  }
  
  .inputbox {
      width: 100%;
      height: 50px;
    background-color: palevioletred;
    color: white;
  }
  input{
      padding: 13px 30px;
      margin: 10px;
  }
  