.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px auto;
  grid-template-areas:
  "in in"
  "d1 d2";
  }

  .input{
    grid-area: in;
    }
    .div1{
    border: 1px solid black;
    height: 500px;
    grid-area: d1;
    }
    .div2{
    grid-area: d2;
    display: flex;
    flex-direction: column;
    }
    .circle{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin: 10px;
    }